*{
    background-color: black;
}

.musicApp{
    font-size: 60px;
    color: aquamarine;
    text-align: center;
    ;
}

p{
    font-size: 40px;
    color: aquamarine;
    text-align: center;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.items{
    margin: 15%;
    margin-left: 45%;
    width: 100%;
    align-items: center;
    display: flex;
}



#button1{
    border-radius: 50%;
    background: rgb(245, 180, 191);
    height: 170px;
    width: 170px;
    flex: 1;
}

#button2{
    background:rgb(172, 44, 172) ;
    height: 170px;
    width: 170px;
  flex: 1;
  border-radius: 50%;
}

#button3{
    background:rgb(78, 78, 171) ;
    height: 170px;
    width: 170px;
    flex: 1;
    border-radius: 50%;
}

#button4{
    background: rgb(104, 206, 104);
    height: 170px;
    width: 170px;
    flex: 1;
    border-radius: 50%;
}

#button5{
    background: rgb(239, 239, 103);
    height: 170px;
    width: 170px;
    flex: 1;
    border-radius: 50%;
}

#button6{
    background: rgb(236, 178, 72);
    height: 170px;
    width: 170px;
    flex: 1;
    border-radius: 50%;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
    }
}